@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	color: unset;
	text-decoration: none;
}


.hidden {
	display: none;
}


.container-title {
	width: 1200px;
    margin: auto;
    text-align: center;
}

.container {
	max-width: 1200px;
    width: 100%;
    height: 680px;
    margin: 20px auto;
    padding: 0;
    border: 1px solid #ccc;
    display: flex;
}

#room {
	width: 40%;
	overflow-y: auto;
}

#room .list {
	border: 1px solid #ccc;
	line-height: .4em;
	margin: 10px;
	padding: 10px;
}

#chat {
	width: 60%;
}

#chat > div:first-child {
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
}

.message {
	height: 560px;
	overflow-y: auto;
}

.message .list {
/*
	border: 1px solid #ccc;
	padding: 5px;
	*/
}

.send {
	background-color: #ccc;
	text-align: right;
	padding: 10px;
    margin: 10px;
}

.send input {
	width: 80%;
	padding: 10px;
}

.send button {
	padding: 10px;
}