* {
	margin: 0;
	padding: 0;
	color: unset;
	text-decoration: none;
	font-family: 'Noto Sans KR';
}

.container {
	max-width: 1220px;
	margin: 10%;
}
/* 각 페이지 퍼블리싱, 파란 베너 김소연 */
.banner {
	max-width: 1920px;
	color: white;
	border-color: #60a8ef;
	width: 100%;
	background-color: #60a8ef;
	border: 1px solid;
	background-image: url(/resources/image/banner_imga.png);
	background-repeat: no-repeat;
	background-size: 280px 235px;
	background-position: 78% 26%;
}

.banner_text {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.banner_text>li {
	display: inline-block;
	font-weight: bold;
	padding-top: 33px;
	margin: 0 auto;
}

.page_title {
	width: 100%;
	padding-bottom: 9px;
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 3px;
}

.page_text {
	max-width: 1200px;
	width: 100%;
	padding-bottom: 33px;
	margin: 0 auto;
}

.table_menu {
	border-top: 2px solid blue;
	background-color: #f3f3f3;
	text-align: center;
	color: #000000;
	border-right: 1px solid White;
	border-left: 1px solid White;
}

.category_color {
	display: inline-block;
	border: 1px solid #ccc;
	width: 13px;
	height: 13px;
	margin-right: 5%;
}

.category_color_1 {
	background: purple;
}

.category_color_2 {
	background: coral;
}

.table>:not(caption)>*>* {
	padding: 0.5rem 0.5rem;
	background-color: var(- -bs-table-bg);
	border-bottom-width: 1px;
	box-shadow: inset 0 0 0 9999px var(- -bs-table-accent-bg);
	width: 12%;
}

.table_table {
	text-align: center;
	margin: auto;
	border: 1px solid #dddddd;
	width: 300px;
}
/* 글자 수 넘으면 ...표시 */
td>a {
	color: black;
	word-wrap: break-word;
	display: inline-block;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 작성자도 글자수 넘으면 ...표시 할랬는데 안해도 되려나 */
.nickname {
	word-wrap: break-word;
	display: inline-block;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table_info {
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

.selelct_list {
	text-align: right;
	width: 100%;
	margin-top: 7%;
	margin-bottom: 1%;
}

.category {
	text-align: left;
	display: inline-block;
	width: 89.5%;
}

.search_box {
	margin-left: 1%;
	display: inline-block;
	width: 30%;
	padding: 7px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	border: 1px solid #ced4da;
	border-radius: 0.375rem;
	text-align: left;
}

.search {
	    margin-left: 1%;
    display: inline-block;
    
}

.search_btn {
	border-radius: 8%;
	width: 70px;
	background-color: #0080ff;
	color: white;
	border-color: #0080ff;
	border: 1px solid;
	text-align: center;
	height: 40px;
}

.writing {
	display: inline-block;
	width: 10%;
}

.writing_btn {
	font-weight: bold;
	background: #555555;
	border: 1px solid #555555;
	color: white;
	width: 94px;
	height: 40px;
}

#table_size {
	text-align: center;
	width: 100%;
	margin-top: 1.5%;
}

/*페이지 네이션  */
.page_nation_item>a {
	background-color: white;
	color: #555555;
	border-color: #ccc;
	font-weight: bold;
}

.page_nation_item>a:hover {
	background-color: #555555;
	color: white;
	border-color: #555555;
}