@charset "UTF-8";

a { color: #000; } 

:root { 
	--swiper-navigation-size: 44px; 
	--swiper-navigation-color: #fff; 
	--swiper-pagination-color: #fff; 
	--swiper-pagination-progressbar-bg-color: rgba(255, 255, 255, 0.25);
}



.swiper {
	width: 100%;
	height: 550px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #d5d5d5;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper {
	margin-left: auto;
	margin-right: auto;
}

.swiper-button-next, .swiper-button-prev {
	width: calc(100% - 1180px);
}

.slide-text {
	font-size: 35pt;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    letter-spacing: -1.5pt;
}

.container-index {
    margin: auto;
    max-width: 1200px;
}

.center { text-align: center; }
.category-index {
	margin: 60px 0;
}
.category-index a:hover { color:#000; }
.category-index h2 { font-weight:700; letter-spacing: -1pt; padding-bottom: 30px;}
.category-index ul { padding-left: 0; display: flex;  justify-content: space-between; }
.category-index li { display: inline-block; padding: 10px 30px;}
.category-inner { max-width:1000px; margin: 0 auto;}
.icon img { width:70px; display: block; margin-bottom: 10px; }

.list-more {
	display: flex; 
    padding: 0 85px 0 45px;
    justify-content: space-between;
    align-items: baseline;
}
  
.list-more h6 {
	color:#0359d9; 
}

.tutorial {
	width: 100%;
	padding: 90px;
	background-color: #0359d9;
	color: #fff;
	font-size: 14pt;
}

.tutorial img { margin-bottom: 20px; }

.tutorial ul {
	display: flex;
	justify-content: space-between;
    padding-left: 0; 
    margin-bottom: 0;
}

.tutorial li {
	width: min-content;
	text-align: center; 
}

.top-content {
	margin-top: 7%;
    max-width: 1200px;
    position: relative;
    width: 100%;
}

.top-table {
	margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.recent-table {
	width: 49%;
}

.mannam-map {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 100px;
}

#map-layer {
	position: absolute;
	left: calc(50% - 600px);
	width: 400px;
	height: 450px;
	background-color: #fff;
	z-index: 1;
}
#map-layer h3 { letter-spacing: -1pt; font-weight: 700; text-align: center; }

.layer-inner {
	padding: 40px 20px;
}

.layer-inner form {
	margin-top: 30px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-row-gap: 20px;
	
}

.item:nth-child(1) {
	grid-row: 2 / 4;
}

.item label {
	display: inline;
	text-align:right;
}
.item label h5 {
	padding-right: 10px;
}

.select-option {
	border: none;
    width: 218px;
    color: #0359d9;
    border-bottom: 2px solid #0359d9;
}

.buttons { margin-top: 25px; display:flex; justify-content: space-evenly; } 
#searchAddress {
	background-color: #0359d9;
    border: none;
    color: white; 
    padding: 6px 55px;
}

#reset {
	background-color: #999;
    border: none;
    color: white; 
    padding: 6px 55px;
}