@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	color: unset;
	text-decoration: none;
	font-family: 'Noto Sans KR';
}

.content {
	max-width: 1200px;
	margin: 5% auto;
}

.card {
	border: 2px solid #D3D3D3;
	display: inline-block;
	width: 250px;
	height: 210px;
	padding: 10px;
	margin: 10px;
    position: relative;

}

.card:hover {
	border-color: #0359d9;
}

.interval {
	margin-top: 5px;
	margin-left: 8px;
	position: inherit;
}

p {
	font-size: 20px;
	position: absolute;
	right: 0;
	top: -90px;
}

#gauge_bar {
	width: 220px;
	height: 10px;
	background: #ccc;
    margin-top: 9px;
    margin-bottom: 10px;
    margin-left: 4px;
	border-radius: 50px;
	position: absolute;
}

.gauge {
	display: block;
	width: 80%;
	height: 10px;
	border-radius: 100px;
	background: #0359d9;
	animation-name: gauge;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes gauge { 0%{
	width: 0;
}

100%
{
width
:
69%;
}
}
div>.gauge_bar>div:first-child {
	margin-bottom: 10px;
	margin-top: 18px;
}

#sign_up_out {
	text-align: right;
}

.sign_up_in {
	width: 7em;
	height: 2.5em;
	margin: 1em;
	background-color: #555555;
	color: white;
}

.Category {
	text-align: right;
	margin: 5px;
	color: #09080866;
}


.title {
	margin-bottom: 17px;
	padding-left: 12px;
    position: inherit;
}
.line{
	width: 214px;
    border: 1px solid;
    border-color: #ccc;
    position: absolute;
    top: 36%;
    left: 7%;
}

