@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: unset;
}
/* 각 페이지 퍼블리싱, 파란 베너 김소연 */
.banner {
	color: white;
	border-color: #60a8ef;
	width: 100%;
	background-color: #60a8ef;
}

.banner_text {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding-left: 0%;
}

.banner_text>li {
	display: inline-block;
	font-weight: bold;
	padding-bottom: 13px;
	padding-top: 13px;
	margin: 0 auto;
	padding-top: 13px;
}

.background-image {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(/resources/image/login-back.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.5;
}

.login-box {
	border: 1px solid whitesmoke;
	color: black;
	width: 500px;
	height: 622px;
	margin: 2em auto;
	padding: 15px 45px;
	position: relative;
	background-color: white;
	border-radius: 30px;
	box-shadow: inset 0 0px 10px 5px #E0E0E0;
	margin-top: 2%;
	margin-bottom: 4%;
}

.login-box>* {
	padding: 10px 0;
}

.login-box .title {
	border-bottom: 1px solid black;
	text-align: center;
}

.login-box .title ul {
	padding: 2px;
	margin-bottom: auto;
}

.login-box .title ul li {
	list-style-type: none;
	display: inline-block;
	font-size: 0.8em;
}

.login-box .title ul li:first-child {
	font-size: 1em;
	font-weight: bold;
}

.login-box .title ul li:hover {
	font-size: 1em;
	font-weight: bold;
	color: #0359D9;
}

.login-form>* {
	margin: 10px 0;
}

.login-form .input {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

#user-login {
	display: block; /* 사용자 로그인, 관리자 로그인 숨김 */
}

.login-button {
	width: 100%;
	height: 40px;
	background-color: #3090d6;
	color: white;
	border-radius: 3px;
	border: none;
}

.flex {
	display: flex;
	justify-content: space-between;
	font-size: 0.8em;
}

.naver-btn {
	width: 100%;
	height: 40px;
	background-color: #03C75A;
	color: white;
	border: none;
	margin-top: 10px;
	font-size: 0.8em;
	border-radius: 3px;
}

.naver-btn img {
	width: 20px;
	height: 20px;
	display: inline;
}

.find-account {
	padding: 10px 0;
	margin-inline: auto;
}

.kakao-btn {
	width: 100%;
	height: 40px;
	background-color: #FEE500;
	color: black;
	border: none;
	margin-top: 10px;
	font-size: 0.8em;
	border-radius: 3px;
}

.kakao-btn img {
	width: 20px;
	height: 20px;
	display: inline;
}

.google-btn {
	width: 100%;
	height: 40px;
	background-color: #E0E0E0;
	color: black;
	border: none;
	margin-top: 10px;
	font-size: 0.8em;
	border-radius: 3px;
}

.google-btn img {
	width: 20px;
	height: 20px;
	display: inline;
}

.blank {
	margin-top: 3px;
	text-align: center;
	font-size: 0.8em;
	padding: 10px 0;
}

.login-box .signup {
	width: 100%;
	height: 40px;
	background-color: #0359D9;
	color: white;
	border: none;
	border-radius: 3px;
}