@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	color: unset;
	text-decoration: none;
	font-family: 'Noto Sans KR';
}

.category_list>li {
	/* border: 1px solid #ccc;  */
	margin: 5px;
	list-style-type: none;
	padding: 5px;
	display: inline-block;
}

ul li.active {
	border-bottom: 2px solid #0080ff;
}

li>a {
	color: black;
}

.category_list {
	max-width: 1200px;
	width: 100%;
	padding-left: 20px;
}

.container {
	position: relative;
	max-width: 1200px;
	padding: 0;
	width: 100%;
	margin: 5% auto;
}

/* 각 페이지 퍼블리싱, 파란 베너 김소연 */
.banner {
	max-width: 100%;
	color: white;
	border-color: #60a8ef;
	width: 100%;
	background-color: #60a8ef;
	border: 1px solid;
	background-image: url(/resources/image/banner_imga.png);
	background-repeat: no-repeat;
	background-size: 280px 235px;
	background-position: 78% 26%;
}

.banner_text {
	padding-left: 10px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.banner_text>li {
	display: inline-block;
	font-weight: bold;
	padding-top: 33px;
	margin: 0 auto;
}

.page_title {
	width: 100%;
	padding-bottom: 4px;
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 10px;
}

.page_text {
	max-width: 1200px;
	width: 100%;
	padding-bottom: 33px;
	margin: 0 auto;
}

.card_box {
	width: 100%;
	max-width: 1220px;
	margin: 0.5em;
	text-align: left;
	padding: 0.5em;
}

#empty_list {
	margin-bottom: 5%;
	width: 100%;
	max-width: 1220px;
	text-align: left;
	padding: 0.5em;
}

.card {
	border: 2px solid #D3D3D3;
	display: inline-block;
	width: 272px;
	height: 217px;
	padding: 10px;
	margin: 10px;
	text-align: left;
	position: relative;
}

.card:hover {
	border-color: #0359d9;
}
/* 감추는 코드 */
/*   display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  */
.Category {
	width: 89%;
	text-align: right;
	margin: 5px;
	color: #09080866;
}

.title {
	color: black;
	width: 84%;
	margin-left: 4%;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 27px;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.line {
	width: 82%;
	border: 1px solid;
	border-color: #ccc;
	position: absolute;
	top: 36%;
	left: 7%;
}

.date_day {
	display: inline-block;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 3px;
	margin-left: 10px;
	position: inherit;
	color: black;
	top: 8%;
}

.interval {
	margin-top: 3px;
	margin-left: 10px;
	position: inherit;
	top: 4%;
	color: black;
}

progress {
	border: 0;
	border-radius: 9px;
	position: absolute;
	top: 82%;
	width: 82%;
	left: 7%;
}

/* 크기 조절은 height에서 */
progress::-webkit-progress-bar {
	background-color: #ccc;
	border: 0;
	height: 17px;
	border-radius: 9px;
}

progress::-webkit-progress-value {
	background-color: #0359d9;
	border: 0;
	height: 17px;
	border-radius: 9px;
}

div>.gauge_bar>div:first-child {
	margin-bottom: 10px;
	margin-top: 18px;
}

.select_lsit {
	max-width: 1200px;
}

.category_select {
	text-align: left;
	display: inline-block;
	max-width: 1200px;
	width: 100%;
	/* margin-bottom: 1%; */
}

.search_box {
	margin-left: 1%;
	display: inline-block;
	width: 30%;
	padding: 7px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	border: 1px solid #ced4da;
	border-radius: 0.375rem;
	text-align: left;
}

.search {
	margin-left: 1%;
	display: inline-block;
}

.search_btn {
	border-radius: 8%;
	width: 70px;
	background-color: #0080ff;
	color: white;
	border-color: #0080ff;
	border: 1px solid;
	text-align: center;
	height: 40px;
}

.writing {
	display: inline-block;
	width: 48%;
	text-align: right;
}

.writing_btn {
	font-weight: bold;
	background: #555555;
	border: 1px solid #555555;
	color: white;
	width: 94px;
	height: 40px;
}

.more {
	text-align: center;
	margin-top: 3%;
}

#more-btn {
	padding: 10px 30px;
	border-radius: 20px;
	background: white;
	border: 1px solid black;
	font-weight: bold;
}

#more-btn:hover {
	background: #555555;
	border: unset;
	color: white;
	font-weight: bold;
}

/* .modal-content {
	margin-top: 15%;
	max-width: 1200px;
	position: relative;
	left: -39%;
	display: flex;
	width: 179%;
	color: var(- -bs-modal-color);
	pointer-events: auto;
	background-color: var(- -bs-modal-bg);
	background-clip: padding-box;
	border: var(- -bs-modal-border-width) solid
		var(- -bs-modal-border-color);
	border-radius: var(- -bs-modal-border-radius);
	outline: 0;
	align-content: flex-start;
}

.model_content {
	max-width: 1200px;
	width: 20%;
	margin: 10px;
	padding: 15px;
}

.img {
	width: 130px;
	height: 112px;
	background: #ccc;
}

.model_Category {
	display: inline-block;
	position: absolute;
	left: 178px;
	top: 22px;
}

.model_address {
	display: inline-block;
	position: absolute;
	left: 230px;
	top: 22px;
}

.model_title {
	display: inline-block;
	position: absolute;
	left: 180px;
	top: 55px;
	color: black;
	width: 48%;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 27px;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.model_Writer {
	word-wrap: break-word;
	display: inline-block;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	left: 180px;
	top: 93px;
}

.model_grade {
	display: inline-block;
	position: absolute;
	top: 93px;
	left: 338px;
}

.model_views {
	display: inline-block;
	position: absolute;
	top: 23.5%;
	left: 93%;
}

.model_date {
	display: inline-block;
	position: absolute;
	left: 180px;
	top: 116px;
}

.model_personnel {
	display: inline-block;
	position: absolute;
	left: 86%;
	top: 66px;
}

#model_progress {
	border: 0;
	border-radius: 9px;
	position: absolute;
	top: 19%;
	left: 74%;
	width: 23%;
}

.model_line {
	width: 837px;
	border: 1px solid;
	border-color: #ccc;
	margin-top: 3%;
	margin-bottom: 2%;
}

.model_middle {
	width: 100%;
}

.model_member {
	font-weight: bold;
	position: absolute;
	top: 45%;
	left: 7%;
	display: inline-block;
}

.model_member_num_box_info {
	width: 100%;
	text-align: left;
}

#box_info {
	display: inline-block;
	width: 60%;
	text-align: left;
	margin-left: 18%;
	margin-top: 1%;
}

#model_member_num {
	padding: 10px;
	display: inline-block;
	width: 515px;
	height: 90px;
	overflow: auto;
	position: relative;
}

#model_member_num>div {
	display: inline-block;
	padding: 8px;
	margin: 2px;
}

.model_Partic {
	display: inline-block;
	position: absolute;
	top: 42%;
	text-align: right;
	left: 83%;
}

.model_Partic>button {
	display: inline-block;
	width: 57%;
	width: 120px;
	height: 50px;
	background-color: #0359d9;
	border: #0359d9;
	color: #fff;
	font-size: 15px;
}

.model_text_box {
	padding: 15px;
	overflow: auto;
	width: 100%;
	margin-top: 2.5%;
	height: 110px;
	margin-right: 5%;
	border: 1px solid #eee;
	resize: none;
}

.model_lower {
	position: relative;
	text-align: right;
	display: inline-block;
	width: 93%;
	margin-top: 2%;
}

.button_modify {
	margin: 5px;
	width: 50px;
	height: 30px;
	background-color: #fff;
	color: #000;
	border-color: #000;
	border: 1px solid;
	text-align: center;
}

.button_modify:hover {
	background-color: #2cb2ff;
	border: #2cb2ff;
	color: #fff;
}

.button_delete {
	margin: 5px;
	width: 50px;
	height: 30px;
	text-align: center;
	background-color: white;
	border-color: #000;
	border: 1px solid;
	color: #000;
}

.button_delete:hover {
	background-color: #de2f00;
	border: #de2f00;
	color: #fff;
}

.button_back {
	width: 50px;
	height: 30px;
	background: #ed9818;
	border: 1px solid #ed9818;
	color: white;
	margin: 0.5%;
}

.button_chatting {
	margin: 5px;
	position: absolute;
	left: 91%;
	top: 87%;
	width: 50px;
	height: 30px;
	padding-bottom: 1%;
	background: #0359d9;
	border: 1px solid #0359d9;
	color: white;
} */