@charset "UTF-8";


.background-image {
	width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/resources/image/photo-back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;
}

.mg-background-image {
	width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/resources/image/mg-view-back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;
}

.container-box {
	border: 1px solid whitesmoke;
	color: black;
	width: 500px;
	height: 465px;
	margin: 2em auto;
	margin-bottom: 8%;	
	padding: 15px 45px;
	position: relative;
	background-color: white;
	border-radius: 30px;
	box-shadow: inset 0 0px 10px 5px #E0E0E0;
	margin-top: 4%;	
}

.mg-container-box {
	border: 1px solid whitesmoke;
	color: black;
	width: 500px;
	height: 380px;
	margin: 2em auto;
	margin-bottom: 8%;	
	padding: 15px 45px;
	position: relative;
	background-color: white;
	border-radius: 30px;
	box-shadow: inset 0 0px 10px 5px #E0E0E0;
	margin-top: 4%;	
}


.title h3 {
	text-align: center;
	font-weight: bold;
}

.email {
	margin: 10px 0px;
}

.email input {
	border-radius: 3px;
	padding: 5px;	
	width: 69%;
}

.password {
	margin: 10px 0px;
}

.password input {
	border-radius: 3px;
	padding: 5px;	
	width: 69%;
}

.password-box button {
	width: 118px;
    height: 38px;
    background-color: #0359d9;
    border-radius: 3px;
    border: none;
    color: white;
    float: right;
    position: relative;
    top: -48px;
}

.new-pw-box {
	margin: 10px 0px;	
}

.password-new input {
	border-radius: 3px;
	padding: 5px;	
	width: 69%;
}

.pw-ok-box {
	margin: 10px 0px;
}

.password-ok input {
	border-radius: 3px;
	padding: 5px;	
	width: 69%;
}

.go-back button {
    width: 118px;
    height: 38px;
    background-color: #ddd;
    border-radius: 3px;
    border: none;
    color: black;  
    position: relative;
    top: 32px;
    left: 65px;
}

.change button {
	width: 118px;
    height: 38px;
    background-color: #0359d9;
    border-radius: 3px;
    border: none;
    color: white;  
    position: relative;
    top: -6px;
    left: 220px;
}
