* {
	margin: 0;
	padding: 0;
	color: unset;
	text-decoration: none;
	font-family: 'Noto Sans KR';
}

.container {
	text-align: center;
	max-width: 1220px;
	margin: 7em 19%;
}

/*베너  */
.banner {
	color: white;
	border-color: #60a8ef;
	width: 100%;
	background-color: #60a8ef;
	border: 1px solid;
	background-image: url(/resources/image/banner_imga.png);
	background-repeat: no-repeat;
	background-size: 269px 216px;
	background-position: 79% -12px;
}

.banner_text {
	width: 65%;
	margin: 0 auto;
}

.banner_text>li {
	display: inline-block;
	font-weight: bold;
	padding-top: 33px;
	margin: 0 auto;
}

.page_title {
	width: 62%;
	padding-top: 21px;
	font-weight: bolder;
	margin: 0 auto;
}

.page_text {
	width: 62%;
	padding-bottom: 33px;
	margin: 0 auto;
}

.box {
	border-top: 2px solid blue;
	text-align: center;
	border-bottom: 1px solid #ccc;
	max-width: 1200px;
	margin: auto;
}

.title {
	width: 95%;
	display: inline-block;
	text-align: left;
}

.title_size {
	margin-top: 1%;
	margin-bottom: 1%;
}

hr {
	margin: 0rem 0 !important;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: .25;
}

.person {
	margin-top: 0.7%;
	margin-bottom: 0.7%;
	color: #ccc;
	width: 36px;
	height: 31px;
}

.Writer_date_views {
	position: relative;
	background-color: #f3f3f3;
	/*  font-size: larger; */
}

.Writer {
	margin-top: 1%;
	width: 95%;
	display: inline-block;
}

.date_views {
	    font-size: 0.96em;
	position: absolute;
	top: 21.5%;
	left: 83.5%;
	color: #5F5F5F;
	display: inline-block;
}

.Writer_date {
	text-align: left;
	padding-left: 2%;
}

.text_box {
	text-align: left;
	padding-top: 34px;
	padding-bottom: 35px;
	font-size: 15px;
	line-height: 24px;
	word-break: break-all;
	white-space: pre-line;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.answer_answer {
	background-color: #f3f3f3;
	max-width: 1200px;
	width: 100%;
	padding: 0.5em;
	border-top: 2px solid blue;
	margin: auto;
}

.answer_mgrId {
	width: 90%;
	display: inline-block;
	margin-left: 1%;
	text-align: left;
}

.answer_date {
	margin-right: 1%;
	color: #5F5F5F;
	text-align: right;
	display: inline-block;
}

.answer_content {
	padding: 1em;
	text-align: left;
	background-color: white;
	border: 1px solid white;
	margin-top: 1em;
}

.summernote_top {
	margin-top: 2%;
	max-width: 1200px;
	margin-left: 3.5%;
}

.answer_box {
	padding: 1em;
	border: 1px solid #ddd;
	margin-top: 2em;
	width: 100%;
	resize: none;
}

.answer_btn_lsit {
	width: 96%;
}

.update_Answer_btn {
	margin-bottom: 2%;
	margin-right: 1%;
	float: right;
	margin-top: 2%;
	display: inline-block;
	width: 50px;
	height: 30px;
	border: 1px solid #0080ff;
	color: white;
	background-color: #0080ff;
}

.cancell_btn {
	float: right;
	margin-top: 2%;
	display: inline-block;
	width: 50px;
	height: 30px;
	border: 1px solid #ff0000;
	color: white;
	background-color: #ff0000;
}

.answer_btn_info {
	width: 96%;
}

.answer_btn {
	float: right;
	margin-top: 2%;
	display: inline-block;
	width: 50px;
	height: 30px;
	border: 1px solid #0707d9;
	color: white;
	background-color: #0707d9;
}

.delete_update_btn {
	width: 96.2%;
	margin-top: 1%;
}

.delete_btn {
	float: right;
	display: inline-block;
	width: 50px;
	height: 30px;
	border: 1px solid #ff0000;
	color: white;
	background-color: #ff0000;
}

.update_btn {
	margin-right: 1%;
	float: right;
	display: inline-block;
	width: 50px;
	height: 30px;
	border: 1px solid #0080ff;
	color: white;
	background-color: #0080ff;
}

.lower {
	display: inline-block;
	margin-top: 1.5%;
	text-align: right;
	width: 93%;
}

.lower>button {
	margin: 5px;
	width: 50px;
	height: 30px;
}

.button_list {
	margin-top: 2%;
	width: 50px;
	height: 30px;
	background-color: #ed9818;;
	color: white;
	border-color: #ed9818;
	border: 1px solid;
	text-align: center;
}

.btn_list {
	width: 50%;
}

.button_modify {
	margin: 5px;
	width: 50px;
	height: 30px;
	background-color: #fff;
	color: #000;
	border-color: #000;
	border: 1px solid;
	text-align: center;
}

.button_modify:hover {
	background-color: #2cb2ff;
	border: #2cb2ff;
	color: #fff;
}

.button_delete {
	margin: 5px;
	width: 50px;
	height: 30px;
	text-align: center;
	background-color: white;
	border-color: #000;
	border: 1px solid;
	color: #000;
}

.button_delete:hover {
	background-color: #de2f00;
	border: #de2f00;
	color: #fff;
}