@charset "UTF-8";

#my-post, #my-reply, #my-calender{
	display: none;
}



/* .view {
	width: 100px;
	height: 100px;
} */

/* ------------------------ */

.title {
    border-bottom: 1px solid black;
    font-weight: bold;
    padding: 15px 5px;
    color: #0359d9;
    font-size: 25px;
    margin: 15px 50px;
}

.user-button {
	position: absolute;
    top: 15px;
    right: 40px;
}

.user-button .photo {
	width: 80px;
    height: 30px;
    background-color: #0359d9;
    color: white;    
    border: none;
    border-radius: 3px;
    font-size: 0.8em;
}

.user-button .update {
	width: 90px;
    height: 30px;
    background-color: #ddd;
    color: black;    
    border: none;
    border-radius: 3px;
    font-size: 0.8em;
}

.user-button .password {
	width: 90px;
    height: 30px;
    background-color: #ddd;
    color: black;    
    border: none;
    border-radius: 3px;
    font-size: 0.8em;
}

.user-button .stop {
	width: 70px;
    height: 30px;
    background-color: #CC0000;
    color: white;    
    border: none;
    border-radius: 3px;
    font-size: 0.8em;
}

.profile-box {	
    color: black;
    max-width: 1200px;
    width: 90%;
    height: 230px;
    margin: 1em auto;
    padding: 35px 30px;
    position: relative;
    background-color: aliceblue;
    border-radius: 40px;
}

.pro1 img {
	width: 150px;
    height: 150px;
    position: absolute;
    top: 25px;
}

.profile {	
    width: 100%;
    height: auto;
    border-radius: 70%;
    overflow: hidden;
    margin: 1em 1em;
}

.user-nickname {
	margin: 1em 13em;
    width: 75px;
    text-align: center;
    position: relative;
    top: 23px;
}

.user-date {
	margin: 10px 130px;
    position: absolute;
    left: 110px;
    top: 120px;
    border: 3px solid #ddd;
    background-color: white;
	border-radius: 10px;
	padding: 5px;
}

.user-date > table {
	border: none;
}

/*tab css*/

/* tab-1 */
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

ul.tabs li{
    display: inline-block;
    background: aliceblue;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    width: 295px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

ul.tabs li.current{
    background: white;
    color: #0359d9;
    font-weight: bold;
    border-top: 4px solid;
    width: 300px;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-radius: 20px;
}

.tab-content{
    display: none;
    background: #e0e0e0;
    padding: 12px;
}

.tab-content.current{
    display: inherit;
    background: none;
    border: 1px solid #ddd;
    width: 94%;
    border-top: none;
    margin: 20px 38px;
    padding: 30px;
}

.tabnav li a:before {
	content:"";
	position:absolute;
	left:0;
	top:0px;
	width:100%;
	height:3px;
}

.tabcontent {
	padding: 20px;
	height:370px;
}

.review-title {
    position: relative;
    left: 4%;
}

.text1 {
	font-weight: bold;
	font-size: 25px;
	position: relative;
}

.star {
    font-size: 2rem;
    color: #ddd;
    padding: 5px;
    position: relative;
    left: 37px;
}

.checkStar {
	display: none;
}

.yellowStar {
	color: #facf32;
}

.review_textarea {
    resize: vertical;
    width: 430px;
    height: 150px;
    position: relative;
    left: 45px;
    resize: none;
}

.text-note > button {
	width: 80px;
    height: 30px;
    background-color: #0359d9;
    color: white;    
    border: none;
    border-radius: 3px;
    font-size: 0.8em;
    position: relative;
    top: 30px;
    left: -38px;
}

.review-date {
	position: relative;
    left: 50%;
    top: -275px;     
}

.review-date th {
	color: darkblue;
	background-color: aliceblue;
}

.review-date th, .review-date td {
	border: 2px solid darkblue;	
	padding: 3px;
	border-left: none;
	
}

.tabcontent2-1 {
/*     background: aliceblue;
    border: 3px solid darkblue;
    border-radius: 10px;
    border-collapse: initial; */
       
    background: aliceblue;    
    border-radius: 10px;
    border-collapse: initial;
    border: 2px solid #0359d9;
    display: inline-block;
    width: 327px;
    height: 140px;
    padding: 10px;
    margin: 10px;    
    position: relative;
    text-align: center; 	
}

.tabcontent2-1 th {
	padding: 5px;
}

.tabcontent2-2 {
background: aliceblue;
    border-radius: 10px;
    border-collapse: initial;
    border: 2px solid #0359d9;
    display: inline-block;
    width: 292px;
    height: 245px;
    padding: 10px;
    margin: 10px;
    position: relative;
    text-align: center;	
}


.tabcontent2-2 th {
	padding: 5px;
}

.tabcontent2-3 {
    background: aliceblue;    
    border-radius: 10px;
    border-collapse: initial;
    border: 2px solid #0359d9;
    display: inline-block;
    width: 252px;
    height: 134px;
    padding: 10px;
    margin: 10px;    
    position: relative;
    text-align: center; 	
}


.tabcontent2-3 th {
	padding: 5px;
}


.tabcontent-3 {
	background: aliceblue;    
    border-radius: 10px;
    border-collapse: initial;
    border: 2px solid #0359d9;
    display: inline-block;
    width: 218px;
    height: 134px;
    padding: 10px;
    margin: 10px;    
    position: relative;
    text-align: center; 
}

.tabcontent-3 th {
	padding: 5px;
}