<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.ac.kopo.mannada.model.User" alias="User"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Manager" alias="Manager"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Manna" alias="Manna"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Notice" alias="Notice"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Community" alias="Community"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Question" alias="Question"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Answer" alias="Answer"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Chat" alias="Chat"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Address" alias="Address"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Reply" alias="Reply"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Bookmark" alias="Bookmark"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Attach" alias="Attach"/>
		<typeAlias type="kr.ac.kopo.mannada.model.Review" alias="Review"/>
	</typeAliases>
	 
	<mappers>
		<mapper resource="mybatis/user.xml" />
		<mapper resource="mybatis/manager.xml" />
		<mapper resource="mybatis/manna.xml" />
		<mapper resource="mybatis/notice.xml" />
		<mapper resource="mybatis/community.xml" />
		<mapper resource="mybatis/question.xml" />
		<mapper resource="mybatis/chat.xml" />
		<mapper resource="mybatis/address.xml" />
	</mappers>
</configuration>